{% extends "layout.html" %}
{% block content %}

    <h1 style="text-align:center;">Fake News Classifier</h1>
    <div><p>This system has been proposed keeping in mind
            the difficulties that people face during registering
            complaint at any police station.</p>
            <p> First of all, the
                    entire manual process is time consuming as the
                    complainant has to physically go to the police
                    station numerous times. The same also consumes
                    a whole lot of money and energy. Other
                    disadvantageous factors include, Fear of getting
                    harmed from people against whom FIR is filed,
                    Lodging FIR against highly reputed person is
                    sometimes difficult task. By allowing citizens to
                    lodge their complaints directly, this system
                    circumvents police officers who are often
                    reluctant to register FIRs, particularly in
                    kidnapping and ransom cases. Potentially, this
                    could be an effective tool in combating the
                    endemic corruption and pressure at
                    the thana level.</p>
        </div>    
        <center>
        <div>
                <h1>Software used</h1>
                <div class="row">
        <div class="col-4"><img src="{{url_for('static', filename='Images_used/python.PNG')}}"class="img-thumbnail" style="height: 200pt;width: 200pt"></div>
        <div class="col-4"><img src="{{url_for('static', filename='Images_used/flask.PNG')}}"class="img-thumbnail" style="height: 200pt;width: 200pt"></div>
        <div class="col-4"><img src="{{url_for('static', filename='Images_used/SQLA.PNG')}}"class="img-thumbnail" style="height: 200pt;width: 200pt"></div>
                </div>
</div>
</center>

{% endblock content %}





