{%extends "layout.html"%}
{%block content%}
<div>
    <script src=
"https://code.jquery.com/jquery-1.12.4.min.js"> 
    </script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="container jumbotron", style="padding-top: 30px;padding-bottom: 30px;background-image: linear-gradient(180deg, #808080, #A9A9A9);">
  <div class="col card">
    <div class = "card-body">
        <h3 class = "card-title">Entry type:</h3>

    <p class="btn-group btn-block">
    <button onclick="myFunction(1)" class="btn btn-primary" type="button" name="EntryType" value="Text_Title"  aria-expanded="false" aria-controls="multiCollapseExample2"> Username</button>

    <button onclick="myFunction(2)" class="btn btn-primary" type="button" name="EntryType" value="Text" aria-expanded="false" aria-controls="multiCollapseExample2" style="margin-right: 30px; margin-left: 30px;"> Twitter Topic</button>

    </p>
  </div>
  </div>
</div>


<div class="container jumbotron" style="display: none; background-image: linear-gradient(180deg, #808080, #A9A9A9);", id = "Text_Title_coll">

  <div class="col card">
    <div class = "card-body">
        <h5 class = "card-title">Username Input</h5>
    <!--==============================Title+ text================================================= -->
    <form method="POST", action = "{{url_for('result',type = 'username')}}">
        <fieldset>
            <div class = ''>
        {{username_form.TwitterUsername.label (class="form-control-label")}}
        {{username_form.TwitterUsername(class="form-control form-control-lg")}}
            </div>

        </fieldset>
        <br>
        {{username_form.submit(class="btn btn-outline-info")}}
    </form>

  </div>
  </div>
</div>

<div style="display: none;background-image: linear-gradient(180deg, #808080, #A9A9A9);", id = "Text_coll", class="container jumbotron">
  <div class="col card">
      <div class = "card-body">
        <h5 class = "card-title">Twitter topic input</h5>
    <!--===================================URL============================================ -->
    <form class= "Only_URL selectt", method="POST", action = "{{url_for('result',type = 'topic')}}">
        <fieldset>
            <div>
        {{topic_form.TwitterTopic.label (class="form-control-label")}}
        {{topic_form.TwitterTopic(class="form-control form-control-lg")}}
            </div>
            
        </fieldset>
        <br>
        {{topic_form.submit(class="btn btn-outline-info")}}
    </form>
  </div>
  </div>
    </div>


<script>
    function myFunction(num) {
  if(num==1){
    $("#Text_Title_coll").toggle();
    $("#Text_coll").hide();
    $("#Image_coll").hide();
  }
  else if(num==2){
    $("#Text_Title_coll").hide();
    $("#Text_coll").toggle();
    $("#Image_coll").hide();
  }
  else if(num==3){
    $("#Text_Title_coll").hide();
    $("#Text_coll").hide();
    $("#Image_coll").toggle();
  }
}

    document.getElementById("image").onchange = function () {
    var reader = new FileReader();


    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("imagepreview").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
    console.log("DOODIE")
};

    </script>


</div>
{%endblock content%}