{% extends "layout.html" %}
{% block content%}

<style>
    .Positive {
 color: green;
}

.Negative {
 color: red;
}

</style>


<div class  = "{{'jumbotron'}}" >
    <h3 class = "jumbotron-title">The system uses Naive Bayes algorithm. The tweet was: {{text}}</h3>

</div>


<div class  = "{{'jumbotron'}}" >
    <h3 class = "jumbotron-title">The sentiment analysis of the tweet is:</h3>

    <div class = "card">
    <div class = "card-body">

    <h5 class="{{'text-center '+ text_score}}" >Score: {{text_score}}</h5>

    </div>
    </div>





<p>{{result_subtext}}</p>
</div>




<div id="topicRelated">
    <p> Topic related results</p>
</div>

<a role = "btn " class = "btn btn-primary btn-lg", href = {{url_for('userinput')}}>Click Here to classify another tweet</a>
<script>


</script>

{%endblock content %}